name: CI Nix

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  nix-check:
    name: Nix Flake Validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check Flake Metadata
        run: nix flake check

      - name: Verify DevShell
        run: nix develop --command go version

      - name: Nix Format Check
        run: nix fmt -- --check .
